@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\000031}}
.form-container {
  margin-bottom: 40px;
  width: 100%;
  max-width: 800px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\000037}}
.pixium-box {
  margin: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fcfcfc;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000316}}
  .pixium-box label {
    min-width: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000320}}
  .pixium-box .pixium-row-block {
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000324}}
  .pixium-box .pixium-textbox {
    width: 100%;
    max-width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000329}}
  .pixium-box hr {
    padding: 0px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000333}}
  .pixium-box .pixium-block-build {
    padding: 20px 10px;
    margin: 6px 0px;
    background: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000340}}
.pixium-btn {
  margin: 4px 4px 4px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000344}}
.element-form-container {
  width: 50%;
  /* Width of the outside container */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000347}}
  .element-form-container .pixium-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000359}}
  .element-form-container .pixium-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000369}}
  .element-form-container .pixium-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000377}}
  .element-form-container form {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000379}}
    .element-form-container form span {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000382}}
      .element-form-container form span._left {
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000385}}
      .element-form-container form span._right {
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000389}}
    .element-form-container form output {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pixiumdigital\/Workspace\/form-builder\/scss\/main\.scss}line{font-family:\0000393}}
    .element-form-container form div {
      overflow: hidden; }

/*# sourceMappingURL=main.css.map */
